/* RESETS */

// * {
//     font-size: 55px;
// }

html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 18px;
    vertical-align: baseline;
}

body {
    height: 100vh;
}

h1 {
    margin: 0;
}